[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
statsbombpy = "*"
music21 = "*"
midi2audio = "*"
pandas = "*"
numpy = "*"
musicalbeeps = "*"

[dev-packages]

[requires]
python_version = "3.11"
