@font-face {
    font-family: '395-Eq';
    src: url('fonts/395 Equalizer.ttf');
}
@font-face {
    font-family: 'WavvHa-Regular';
    src: url('fonts/WavvHa-Regular.ttf');
}



/*****************OUTER LAYOUT***************/

/*#col-players{*/
/*    width:50%;*/
/*}*/
/*#col-load{*/
/*    width:50%;*/
/*}*/

#container{
    height: 1000px;
}

#row-main{
    height:90%;
}

#title-row{
    align: center;
}
body {
       font-family: '395-Eq', sans-serif;
     }
#title-row h1{
    font-family: 'WavvHa-Regular', sans-serif;
    font-size: 6vw;
}

img {
  max-width: 100%;
  display: block;
}

#main-background-img{
    opacity: 0.5;
    object-fit: cover;
    width : 100%;
    height : 120%;
    position: absolute;
}

.card {
    background-color: #8288c2
}


/*****************Players***************/
#card-players {
  height: 100%;
  width: 100%;
}
#card-players-body {
  width: 100%;
}
#btn-shuffle{
    margin-top: 15px;
    margin-left: 15px;
}
#card-players-img {
    /*width: 100%;*/
    height: 100%;
    object-fit: cover;
}


/*****************Tables***************/
table{
    width:100%;
}

table td {
    padding: 0 15px;
  }
table th {
    padding: 0 15px;
  }

/*****************Generate/loading***************/
.loading-msg{
    display: inline-block;
}
#song-loading{
    display: inline-block;
}
#btn-generate{
    display: inline-block;
}
#btn-load{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}

/*****************DROPDOWNS***************/
#card-dd-body{
  display: flex;
  justify-content: space-between;
    /*font-size:14px;*/
}

.div-dropdown{
    /*display: inline-block;*/
    width:100%;
    font-size:15px;
}

#div-dd-gender{
    flex: 1 1 0;
}
#div-dd-comp{
    flex: 2 1 0;
}
#div-dd-year{
    flex: 1 1 0;
}
#div-dd-match{
    flex: 3 1 0;
}


#dd-main-instrument{
    width: 100%;
}
#dd-drum-instrument{
    width: 100%;
}

#top-row{
    align-items: center;
    align-content: space-evenly;
    /*margin-left: 100px;*/
}

/*****************Music Player***************/
#div-play{
    width: 100%;
}
#player{
    width: 100%;
}




